/* ***************************
** CONTAINER DIV
*************************** */

.container {
    display: grid;
    grid-template-areas: 
    "one two"
    "three four";
    background-color: gray;
    width: 400px;
    height: 400px;
    margin: auto;
  }


/* ***************************
** Square Colors
*************************** */

.one {
    background-color: #fb5b6b;
    grid-area: one;
  }
  
  .two {
    background-color: #ffbdb0;
    grid-area: two;
  }
  
  .three {
    background-color: #2676a1;
    grid-area: three;
  }
  
  .four {
    background-color: #ffeb48;
    grid-area: four;
  }